.feedback-body {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background: #0E1111;
    padding: 10vh;
}

.feedback-head {
    position: relative;
    top: 0vh;
    color: white;
}


.logo {
    width: 50px;
    height: auto;
}

.feedback-body-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
    padding: 20px;
    background: #0E1111;
    /* Semi-transparent white */
    backdrop-filter: blur(10px);
    /* Glass blur effect */
    -webkit-backdrop-filter: blur(10px);
    padding: 5vh;
    padding-bottom: 10vh;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #0E1111;
    border: 1px solid grey;
    color: white;

    label {
        font-weight: 100;
    }

    input,
    textarea {
        background: none;
        border: none;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        background: #fcfcfc40;
        color: white;
        padding: 5px;
        resize: none;
    }
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.radio-group {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    cursor: pointer;

    input {
        cursor: pointer;
    }

}

.btn-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit-btn {
    padding: 8px 10px;
    top: 20vh;
    right: 5%;
    cursor: pointer;
    font-size: 16px;
    width: auto;
}

.submit-btn::after {
    box-shadow: none;
}

.docs-nav {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0%;
    background: #0E1111;
    width: 100vw;
    height: 10vh;
    color: white;
    gap: 20px;
    z-index: 1;

    h3 {
        position: relative;
        display: flex;
        bottom: 1px;
        font-family: 'Orbitron variable';
    }
}

.logo {
    width: 50px;
    height: auto;
}



/**********************900px**********************/
@media screen and (max-width: 900px) {
    .docs-content {
        width: 90vw;
    }
}

/**********************500px**********************/
@media screen and (max-width: 500px) {
    .docs-head {
        font-size: 24px;
    }

    .docs-nav {
        h3 {
            display: none;
        }
    }

    .docs-content {
        width: 95vw;
    }

    .feedback-body-cont {
        width: 95vw;
    }
}