.user-chat-msg-cont {
    max-width: 800px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.user-msg-cont {
    display: flex;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    word-spacing: 1px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    /* 'wrap' is invalid; use 'normal' */
    line-height: 2;
    /* optional: glassmorphism effect */
    background: none;
    width: 100%;
    position: relative;
    gap: 10px;
    justify-content: center;
}

.user-msg-box {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 100%;
    padding: 1px 20px;
    width: 100%;
    background: rgba(var(--bg-color1), 0.2);
    border-radius: 30px;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: wrap;
    /* Ensures text wraps properly */
    overflow: auto;
}

.chat-image_url-cont {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid gray;
}