.video-playground-body {
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    gap: 20px;
    min-height: 70vh;
    overflow-y: auto;
    width: 100%;
    padding-bottom: 10vh;
}

.video-playground-gallery {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
    max-width: 900px;
    height: 100%;

}

.masonryv-column {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 900px) {
    .video-playground-gallery {
        columns: 2;
        column-gap: 5px;
    }
}

@media (max-width: 600px) {
    .video-playground-gallery {
        columns: 2;
        column-gap: 5px;
    }
}

@media (max-width: 400px) {
    .video-playground-gallery {
        columns: 1;
        column-gap: 0;
    }
}