.video-playground-body {
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    gap: 20px;
    width: 100%;
    min-height: 70vh;
    padding-bottom: 10vh;
}

.video-playground-gallery {
    display: flex;
    column-gap: 5px;
    width: 100%;
    max-width: 1200px;
    min-height: 100%;
    padding: 5px;

}

@media (max-width: 900px) {
    .video-playground-gallery {
        columns: 2;
        column-gap: 5px;
    }
}

@media (max-width: 600px) {
    .video-playground-gallery {
        columns: 2;
        column-gap: 5px;
    }
}

@media (max-width: 400px) {
    .video-playground-gallery {
        columns: 1;
        column-gap: 0;
    }
}