.docs-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(149, 0, 255, 0.8), rgba(0, 255, 225, 0.8));
    color: #0E1111;
}

.docs-head {
    position: relative;
    top: 10vh;
    color: white;
}

.docs-nav {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0%;
    background: #0E1111;
    width: 100vw;
    height: 7vh;
    color: white;
    gap: 20px;
    z-index: 1;

    h3 {
        font-family: 'Orbitron variable';
    }
}

.ham {
    position: absolute;
    left: 5%;
    cursor: pointer;
    transform: rotate(90deg);
    z-index: 1;
}

.ham2 {
    position: absolute;
    left: 5%;
    cursor: pointer;
    transform: rotate(0deg);
    z-index: 1;
}

.logo {
    width: 50px;
    height: auto;
}

.docs-body-cont {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    min-height: 100%;
    top: 7vh;
}

.sidebar-cont {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 90vh;
    background: #0E1111;
    color: white;
    gap: 20px;
    padding: 20px;
    left: 0%;
    top: 8vh;
    z-index: 1;
    border-radius: 0px 20px 20px 0px;

    h3 {
        font-family: 'Orbitron variable';
    }
}

.sidebar-cont1 {
    display: none;
}

.docs-content {
    position: relative;
    /* background: red; */
    width: 60%;
    min-height: 100%;
    scroll-behavior: smooth;
    padding-bottom: 20vh;

    section {
        padding: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        top: 5vh;
        height: auto;

        .docs-box {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 20px;
            padding: 20px;
            background: #ffffffe4;
            padding: 5vh;
            padding-bottom: 10vh;
            border-radius: 20px;
            box-shadow: 0px 0px 10px 0px #0E1111;
        }

        ul {
            position: relative;
            display: flex;
            flex-direction: column;
            left: 5%;
            width: 80%;
            gap: 10px;
            list-style-type: square;

            span {
                color: rgba(149, 0, 255, 0.8);
            }
        }

    }
}

/**********************900px**********************/
@media screen and (max-width: 900px) {
    .docs-content {
        width: 90vw;
    }
}

/**********************500px**********************/
@media screen and (max-width: 500px) {
    .docs-head {
        font-size: 24px;
    }

    .docs-nav {
        h3 {
            display: none;
        }
    }

    .docs-content {
        width: 95vw;
    }
}