.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    top: 0%;
    height: 100dvh;
    width: 260px;
    z-index: 1;
    padding-bottom: 20px;

    /* Semi-transparent background */


    /* Subtle shadow */

    animation: slideOutSidebar 0.2s ease-in-out;

}

.sidebar-2 {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    top: 0%;
    height: 100vh;
    width: 60px;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 20px;
    animation: slideInSidebar 0.2s ease-in-out;

}


.sidebar-2-bottom-cont {
    position: absolute;
    bottom: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sidebar-2-top-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    top: 5px;
    width: 100%;
    max-height: 86%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.slogo-cont {
    top: 5px;
}


label {
    text-align: left;
    width: 90%;
    font-size: 14px;
}

.date-label {
    color: rgb(163, 161, 161);
    font-size: 14px;
}

@keyframes slideInSidebar {
    from {
        width: 260px;
    }

    to {
        width: 60px;
    }
}

@keyframes slideOutSidebar {
    from {
        width: 60px;

    }

    to {
        width: 260px;
    }
}


.sidebar-button {
    display: flex;
    width: 94%;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    justify-content: left;
    padding: 8px 8px;
    gap: 10px;
    font-size: 14px;
    height: 36px;
    white-space: nowrap;

    &:hover {
        background: rgba(94, 129, 173, 0.2);
    }

    transition: background 0.2s ease-in-out;

    animation: slideOutSidebarButton 0.2s ease-in-out;
}

.close-sidebar {
    position: absolute;
    right: 2%;
}

.sidebar-button-2 {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
    font-size: 14px;
    height: 40px;
    width: 40px;

    &:hover {
        background: rgba(94, 129, 173, 0.2);
    }

    transition: background 0.2s ease-in-out;
    animation: slideInSidebarButton 0.2s ease-in-out;
}

.sidebar-button-2::after {
    content: '';
    position: absolute;
    left: calc(100% + 10px);
    /* Center vertically */
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    white-space: nowrap;
    z-index: 1000;
    min-width: max-content;
    /* Ensure tooltip doesn't shrink */
}

.sidebar-button-2:hover::after {
    content: attr(data-tooltip);
    opacity: 1;
}

.toggle-sidebar {
    display: none;
}

.sidebar-2:hover .toggle-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-2:hover .slogo-cont {
    display: none;
}


.search-chat-btn {
    position: relative;
    display: flex;
    width: 95%;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    align-items: center;
    justify-content: left;
    padding: 10px 20px;
    gap: 10px;
    font-size: 14px;
    white-space: nowrap;


    background: rgba(94, 129, 173, 0.2);


    transition: background 0.2s ease-in-out;

    animation: slideOutSidebarButton 0.2s ease-in-out;

    input {
        background: none;
        border: none;
        outline: none;
    }
}

.history-panel {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    top: 120px;
    gap: 5px;
    width: 100%;
    height: 85dvh;



    label {
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        text-align: left;
        padding: 2px;
        gap: 5px;
    }
}

.history-panel-cont {
    position: relative;

    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    bottom: 0%;
    gap: 10px;
    width: 100%;
    height: 95%;
    overflow-y: scroll;

    overflow-x: hidden;
}

.history-date-group {
    position: relative;

    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    bottom: 0%;
    gap: 2px;
    width: 100%;
    height: auto;
    overflow: none;
}

.history-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    border-radius: 10px;
    padding: 8px 8px;
    cursor: pointer;
    width: 94%;
    white-space: nowrap;
    font-size: 14px;
    height: 36px;

    p {
        display: flex;
        overflow-x: hidden;
        width: 98%;
        text-align: left;
    }

}

.history-box:hover {
    background: rgba(94, 129, 173, 0.2);

    p {
        width: 90%;
        text-overflow: ellipsis;
    }

    .chath-menu-btn {
        display: flex;

    }
}



.chath-menu-btn {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 30px;
    padding: 1px;
    border-radius: 5px;

}


.chath-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    gap: 5px;
    right: 5%;
    top: 80%;
    height: 30px;
    padding: 5px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(var(--bg-color1), 0.1);
    /* Subtle shadow */

    width: 130px;
    height: auto;

    hr {
        width: 98%;
        box-shadow: 0 4px 6px rgba(114, 114, 114, 0.1);
        border-color: rgba(128, 128, 128, 0.144);
    }
}

.chath-menu-list {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 10px;
    width: 98%;
    gap: 10px;
}

.chath-menu-list:hover {
    background: rgba(128, 128, 128, 0.24);

    cursor: pointer;
}

.delete {
    color: #e5383b;
}

.delete:hover {
    background: #e5383b46;
}

.sidebar-dropdown-cont {
    position: relative;
    top: 0%;
    left: 5%;
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    width: 90%;
    height: auto;
    align-items: flex-start;
    gap: 2px;

    hr {
        width: 98%;
        box-shadow: 0 4px 6px rgba(var(--bg-color1), 114, 0.1);
        border-color: rgba(var(--bg-color1), 0.144);
    }

    border-left: 2px solid rgba(94, 129, 173, 0.2);
}

.dropdown-list {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    width: 90%;
    gap: 10px;
    margin-left: 5px;
    border-radius: 10px;
    height: 36px;
}

.dropdown-list:hover {
    background: rgba(94, 129, 173, 0.2);

    cursor: pointer;
}

.expand-sidebar-icon {
    position: absolute;
    right: 20px;
    display: flex;
}

.account-btn {
    position: absolute;
    bottom: 5px;
    height: 50px;
    border-radius: 20px;
    text-align: left;

    span.plan {
        font-size: 12;
        color: gray;
    }

    &:hover {
        box-shadow: none;
    }
}

.avatar {
    border-radius: 50%;
    height: 100%;
    width: 100%;

}

.profile-sidebar-cont {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    bottom: 5%;
    left: 60px;
}

@keyframes slideInSidebarButton {
    from {
        width: 95%;
    }

    to {
        width: 30px;
    }
}

@keyframes slideOutSidebarButton {
    from {
        width: 30px;
    }

    to {
        width: 95%;
    }
}



@media screen and (max-width: 1000px) {


    .sidebar-2 {
        display: none;
    }

}

@media screen and (max-width: 360px) {


    .profile-sidebar-cont {
        left: 5px;
    }

}

html.dark {

    .sidebar,
    .sidebar-2 {
        background: linear-gradient(to right, #1C273B, #191E2B);
    }

    .sidebar-button-2:hover::after {
        background: linear-gradient(to right, #D6E2FB, #E3EBFD);
        color: var(--prop-dark-bg);
    }
}

html.light {

    .sidebar,
    .sidebar-2 {
        background: linear-gradient(to right, #D6E2FB, #E3EBFD);
    }

    .sidebar-button-2:hover::after {
        background: linear-gradient(to right, #1C273B, #191E2B);
        color: var(--prop-white-bg);
    }
}